/* common css style rule command starts */
body{
    background-color: #495371;
}
.form{
    background-color:  #7882A4;
}
.input-table{
     color: #9AD0EC;
}
.input{
    background-color: #DCDCDC;
    width: 40%;
}
#input-save{
    width: 13%;
}
/* common css style rule command ends */
