
.btn-calculate{
    margin-left: 30%;
}
.form{
    background-color:  #F8F8F8;;
}
.input{
    background-color: #DCDCDC;
    width: 40%;
    margin-bottom: 2%;

}
#input-save{
    width: 70px;
}

.label{
    padding-left: 25%;
}
