.btn-calculate{
    margin-left: 30%;
}
.label{
    padding-left: 25%;
}
.input{
    background-color: #DCDCDC;
    width: 229px;
    margin-bottom: 2%;

}
#input-save{
    width: 70px;
}
.td{
    margin-left: 30%;
}